# AUTH SERVER URL
# The URL of the auth server
# Example: http://localhost:3000
VITE_AUTH_SERVER_URL=http://localhost:3000

# PRODUCTS SERVER URL
# The URL of the products server
# Example: http://localhost:3002
VITE_PRODUCTS_SERVER_URL=http://localhost:3002

# SCENES SERVER URL
# The URL of the scenes server
# Example: http://localhost:3003
VITE_SCENES_SERVER_URL=http://localhost:3003

# SCENES WEBSOCKET URL
# The URL of the scenes websocket server
# Example: ws://localhost:8080
# Example: wss://example.com
VITE_SCENES_WEBSOCKET_URL=ws://localhost:8080

# SCENES VR CLIENT URL
# The URL of the scenes VR client
# Example: http://localhost:5174
VITE_SCENES_VR_CLIENT_URL=http://localhost:5174

# SCENES ADMIN CLIENT URL
# The URL of the scenes admin client
# Example: http://localhost:5175
VITE_ADMIN_CLIENT_URL=http://localhost:5173
